<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Food Raiser ATX</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
    <h3>Who We Are</h3><br>
    <p>FoodRaiserATX helps food permitted business locations give thousands of meals each month, feeding hundreds of our neighbors living with food insecurity - the 1 in 7 people in Austin who do not know where their next meal will come from. In addition, we are starting to put a dent in the approximately 30 percent of food in the U.S. that ends up in a landfill and produces methane gas.</p><br>
    <h5>FOUNDING MEMBERS:</h5><br>

    <div>
        <div class="container">
            <div class="row">
                <div  class="col s12">
                    <h2 class="center header"></h2>
                </div>
            </div>
            <div class="row center">
                <div class="col s12 m12 l3">
                    <img class="responsive-img" src="https://i.imgur.com/CywRApY.png">
                </div>
                <dic class="col s12 m12 offset-l1 l8 ">
                    <h5 class="center">Salvador Navarro</h5>
                    <p>
                        
                        <br />
                        <i></i> 
                    </p>
                </dic>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div  class="col s12">
                    <h2 class="center header"></h2>
                </div>
            </div>
            <div class="row center">
                <div class="col s12 m12 l3">
                    <img class="responsive-img" src="https://i.imgur.com/bH3dV4m.png">
                </div>
                <dic class="col s12 m12 offset-l1 l8 ">
                    <h5 class="center">Siara Clemente</h5>
                    <p>
                        
                        <br />
                        <i></i> 
                    </p>
                </dic>
            </div>
        </div>
    </div>
    <div>
        <div class="container">
            <div class="row">
                <div  class="col s12">
                    <h2 class="center header"></h2>
                </div>
            </div>
            <div class="row center">
                <div class="col s12 m12 l3">
                    <img class="responsive-img" src="https://i.imgur.com/wnvZrFC.jpg">
                </div>
                <dic class="col s12 m12 offset-l1 l8 ">
                    <h5 class="center">Nhung Tran</h5>
                    <p>
                        
                        <br />
                        <i></i> 
                    </p>
                </dic>
            </div>
        </div>
    </div>
    {% endblock %}
    <footer>All Rights Reserved, &copy; 2019 FoodRaiserATX</footer>
</body>
</html>