<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Food Raiser ATX</title>
</head>
<body>
    {% extends 'base.html' %}
    {% block content %}
    <h1>Who We Are</h1>
    <hr />
    <p>FoodRaiserATX was founded in 2019</p>
    <br>
    <p>We keep good food out of the landfill, and make sure we get healthy meals to our neighbors in need.</p>
  
    {% endblock %}
    <footer>All Rights Reserved, &copy; 2019 FoodRaiserATX</footer>
</body>
</html>