{% extends 'base.html' %}
{% block content %}

<div class="section" id="landing">
        <h5 id="mainText" class="center"></h5>
        <h1 style="color: white;"  class="center">
            <b>Connecting surplus food with our neighbors in need.</b>
        </h1>
</div>

<h4><b>How does FoodRaiserATX work?</b></h4>
<ul>
    <li>Some donors give prepared food — cooked meals, salads, sandwiches, etc., which have extremely short shelf lives and food can be either hot or cold. Some donors offer whole foods, such as crates of fresh produce, frozen uncooked meat, and bulk bagged salads. Others give us nonperishable foods. </li><br>
    <li>Donations must be in unopened packages and must not have been previously served. For catered events, we do not accept food in which guests served themselves and we require that donated food be kept at the proper temperature. </li><br>
    <li>We do not accept home cooked meals or food that has been stored at a residence. </li><br>
</ul>

<h4><b>Get Involved:</b></h4>
<h5>Interested in donating?</h5>
<p>Simply fill out our online <a href="#">food donation form</a> with the details (type of food, quantity of food, pickup window, etc.)</p>
<br>
<h5>Request Food?</h5>
<a href="#">Fill out the form</a>

{% endblock %}