body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: white;
  }


.btn-flat{
    background-color: lightsalmon;
    color:white;
}
.navbar-fixed, .nav-wrapper, .page-footer {
    background-color: royalblue;

}

select {
    display: inline;
}
  
main {
    flex: 1 0 auto;
  }
  
footer.page-footer {
    padding-top: 0;
    text-align: right;
  }

/* img {
    width: 50%;
    margin: auto;
  } */

  #landing{
    height: 100vh;
    background-image: url("https://i.imgur.com/vOiYBOK.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1;
}
#mainText{
    margin-top: 30vh;
}
  